.portfolio {
    padding: 2rem;
    background-color: black;
}
.portfolio__title {
    text-align: center;
    color: white;
    text-decoration: underline;
}
.portfolio-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.heading{
    font-size: clamp(12px, 2vw, 22px);
}
.description {
    font-size: clamp(0.4em, 2vw, 0.8em);
}
.technologies{
    font-size: clamp(0.5em, 2vw, 0.9em);
}
.check{
    font-size: 0.8em;
}
a{
    text-decoration: none;
    color: white;
}
.portfolio-box{
    padding: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    justify-content: space-between;
    border-radius: 4px;
    margin: 12px;
    height: 35vh;
    width: 28vw;
    cursor: pointer;
    overflow: hidden;
}

@media (max-width: 768px){
    .portfolio-container{
        flex-direction: column;
    }
    .portfolio-box{
        height: 30vh;
        width: 60vw;
    }
}